/* src/components/Popup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px; /* Aumentei o raio da borda para tornar mais arredondado */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Ajustei a sombra para torná-la mais evidente */
  max-width: 80%; /* Defini um tamanho máximo para o popup */
  text-align: center; /* Alinhe o texto ao centro */
}

.popup h2 {
  margin-bottom: 20px; /* Adicionei um espaçamento abaixo do título */
}

button {
  margin: 10px;
  padding: 10px 20px; /* Adicionei preenchimento interno ao botão */
  background-color: #007bff; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

button + button {
  margin-left: 10px; /* Adicione espaço à esquerda dos botões, exceto para o primeiro botão */
}

button:hover {
  background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
}
